/* Generic stylesheet for Zoop Formz component */


/* styles for the whole table shindig */
.formz-list table {
	width: 100%;
}
.formz-list table thead th {
	text-align: left;
	padding-right: 1em;
/* 	border-bottom: 1px solid #ccc; */
}


/* default styles for formz form items */
.form-item {
	margin-bottom: 1em;
}
.embedded-formz-wrapper.form-item {
	margin-bottom: 0;
}
.form-item label {
	display: block;
	font-weight: bold;
}
.form-item label .required {
	color: red;
}

.form-item .caption {
	display: block;
	font-size: .85em;
	color: #888;
}

/* special override for slider guicontrols */
.formz-slider-wrapper .form-item-content {
	padding-top: 1em;
	margin-bottom: 1.5em;
}

/* style sortable formz */
.formz-list.sortable table thead th {
	color: #222;
	background-color: #EEE;
/* 	border-right: 1px solid #CCC; */
}

.formz-list.sortable table thead th a {
	text-decoration: none;
	color: #222;
	cursor: default;
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 16px;
}

/* sortable */
.formz-list.sortable table thead th.header a {
	background-image: url('data:image/gif;base64,R0lGODlhCwAJAIAAALu7u%2B7u7iH5BAEAAAEALAAAAAALAAkAAAIRjA2nCLnR4or0WUbdyVZebRQAOw%3D%3D');
}
/* asc */
.formz-list.sortable table thead tr th.headerSortUp a {
	background-image: url('data:image/gif;base64,R0lGODlhCwAJAIAAAGZmZu7u7iH5BAEAAAEALAAAAAALAAkAAAIOjI%2Bpy%2B0GogRpUiXbPQUAOw%3D%3D');
}
/* desc */
.formz-list.sortable table thead tr th.headerSortDown a {
	background-image: url('data:image/gif;base64,R0lGODlhCwAJAIAAAGZmZu7u7iH5BAEAAAEALAAAAAALAAkAAAIOjA2nCLnR4or02YuzfgUAOw%3D%3D');
}



/* style default listlinks */
.formz-list .edit-link span,
.formz-list .delete-link span {
	display: none;
}
.formz-list .edit-link,
.formz-list .delete-link {
	display: block;
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
}
.formz-list .edit-link {
	background-image: url(../images/silk/page_white_edit.png);
	float:left;
}
.formz-list .delete-link {
	background-image: url(../images/silk/delete.png);
	float:left;
}

.formz-list .list-actions {
	background-color: #BBBFC0;
}


/* style boolean values as checkboxes */
.formz-list .bool-true, .formz .bool-true {
	display: block;
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
	font-size: 0px;
	color: transparent;
	background-image: url(../images/bool-true.gif);
}

.formz-list .bool-false, .formz .bool-false {
	display: block;
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
	font-size: 0px;
	color: transparent;
	background-image: url(../images/bool-false.gif);
}
