/* Generic stylesheet for Zoop Formz component */

.formz-list table {
	width: 100%;
}
.formz-list table thead th {
	text-align: left;
	padding-right: 1em;
/* 	border-bottom: 1px solid #ccc; */
}
.form-item {
	margin-bottom: 1em;
}
.form-item label {
	display: block;
	font-weight: bold;
}
.form-item .required {
	color: red;
}
.form-item .caption {
	display: block;
	font-size: .85em;
	color: #888;
}