input.autocomplete-loading {
	background-image: url("data:image/gif;base64,R0lGODlhEAAQAPYAAP%2F%2F%2FwBK%2F9Tg%2FpSy%2FmCO%2FkB3%2FkR6%2Fm6X%2FqK8%2Ftzl%2FqS%2B%2FiRj%2Fihm%2FjBs%2FjZw%2Fj51%2FmqV%2FrrN%2Fhxd%2FnKa%2Fuzx%2Fu7y%2FsLT%2Foqr%2FlCC%2Fl6M%2Fr7Q%2FtDd%2Fjpz%2FhZZ%2Foyt%2FqrC%2FlyL%2Fnyh%2FuLq%2Foao%2Fg5T%2FmiT%2Fpy4%2FmaS%2FrbK%2FkZ7%2FgpR%2FrDG%2Fpa0%2Fhhb%2FgZO%2Fuju%2FvT2%2Fnif%2FoSn%2Fvb4%2FoKm%2FqjB%2Fvr7%2Fvz8%2FsDS%2FsrZ%2Fvj5%2Ftbh%2Fq7F%2FvD0%2FtLe%2FuTr%2Ft7n%2Fs7b%2FsbW%2FrzP%2FuDo%2Ftjj%2FvL1%2Ftrk%2Fnqg%2FrTJ%2FrLI%2Fkx%2F%2FlKE%2FlqJ%2FmKP%2FkJ4%2Fjx0%2FsTU%2Fnad%2FjJt%2Furv%2Fipn%2Fo6u%2FliI%2Fixp%2Fh5f%2FqC7%2Fk6B%2FhJW%2Foiq%2FmSQ%2FjRu%2FsjX%2Fsza%2Fubs%2FrjM%2Fn6j%2FpKx%2Fp65%2FlaG%2FpCw%2Fkp%2B%2Fkh9%2FiJi%2Fqa%2F%2FhBV%2FgxS%2FqzD%2FgRM%2Fpq3%2FiZk%2FhRY%2Fjhx%2FnSc%2Fi5q%2FghP%2FnCZ%2FiBg%2FlSF%2FmyW%2FoCk%2FgAAAAAAAAAAACH%2BGkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAAHjYAAgoOEhYUbIykthoUIHCQqLoI2OjeFCgsdJSsvgjcwPTaDAgYSHoY2FBSWAAMLE4wAPT89ggQMEbEzQD%2BCBQ0UsQA7RYIGDhWxN0E%2BggcPFrEUQjuCCAYXsT5DRIIJEBgfhjsrFkaDERkgJhswMwk4CDzdhBohJwcxNB4sPAmMIlCwkOGhRo5gwhIGAgAh%2BQQACgABACwAAAAAEAAQAAAHjIAAgoOEhYU7A1dYDFtdG4YAPBhVC1ktXCRfJoVKT1NIERRUSl4qXIRHBFCbhTKFCgYjkII3g0hLUbMAOjaCBEw9ukZGgidNxLMUFYIXTkGzOmLLAEkQCLNUQMEAPxdSGoYvAkS9gjkyNEkJOjovRWAb04NBJlYsWh9KQ2FUkFQ5SWqsEJIAhq6DAAIBACH5BAAKAAIALAAAAAAQABAAAAeJgACCg4SFhQkKE2kGXiwChgBDB0sGDw4NDGpshTheZ2hRFRVDUmsMCIMiZE48hmgtUBuCYxBmkAAQbV2CLBM%2Bt0puaoIySDC3VC4tgh40M7eFNRdH0IRgZUO3NjqDFB9mv4U6Pc%2BDRzUfQVQ3NzAULxU2hUBDKENCQTtAL9yGRgkbcvggEq9atUAAIfkEAAoAAwAsAAAAABAAEAAAB4%2BAAIKDhIWFPygeEE4hbEeGADkXBycZZ1tqTkqFQSNIbBtGPUJdD088g1QmMjiGZl9MO4I5ViiQAEgMA4JKLAm3EWtXgmxmOrcUElWCb2zHkFQdcoIWPGK3Sm1LgkcoPrdOKiOCRmA4IpBwDUGDL2A5IjCCN%2FQAcYUURQIJIlQ9MzZu6aAgRgwFGAFvKRwUCAAh%2BQQACgAEACwAAAAAEAAQAAAHjIAAgoOEhYUUYW9lHiYRP4YACStxZRc0SBMyFoVEPAoWQDMzAgolEBqDRjg8O4ZKIBNAgkBjG5AAZVtsgj44VLdCanWCYUI3txUPS7xBx5AVDgazAjC3Q3ZeghUJv5B1cgOCNmI%2F1YUeWSkCgzNUFDODKydzCwqFNkYwOoIubnQIt244MzDC1q2DggIBACH5BAAKAAUALAAAAAAQABAAAAeJgACCg4SFhTBAOSgrEUEUhgBUQThjSh8IcQo%2BhRUbYEdUNjoiGlZWQYM2QD4vhkI0ZWKCPQmtkG9SEYJURDOQAD4HaLuyv0ZeB4IVj8ZNJ4IwRje%2FQkxkgjYz05BdamyDN9uFJg9OR4YEK1RUYzFTT0qGdnduXC1Zchg8kEEjaQsMzpTZ8avgoEAAIfkEAAoABgAsAAAAABAAEAAAB4iAAIKDhIWFNz0%2FOz47IjCGADpURAkCQUI4USKFNhUvFTMANxU7KElAhDA9OoZHH0oVgjczrJBRZkGyNpCCRCw8vIUzHmXBhDM0HoIGLsCQAjEmgjIqXrxaBxGCGw5cF4Y8TnybglprLXhjFBUWVnpeOIUIT3lydg4PantDz2UZDwYOIEhgzFggACH5BAAKAAcALAAAAAAQABAAAAeLgACCg4SFhjc6RhUVRjaGgzYzRhRiREQ9hSaGOhRFOxSDQQ0uj1RBPjOCIypOjwAJFkSCSyQrrhRDOYILXFSuNkpjggwtvo86H7YAZ1korkRaEYJlC3WuESxBggJLWHGGFhcIxgBvUHQyUT1GQWwhFxuFKyBPakxNXgceYY9HCDEZTlxA8cOVwUGBAAA7AAAAAAAAAAAA");
	background-position: center right;
	background-repeat:no-repeat;
}
ul.autocomplete {
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid ButtonShadow;
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #000;
	display:none;
	z-index:1000;
}
ul.autocomplete li {
  display: block; 
  padding: 0.3em; 
  overflow: hidden;
  width: 100%;
  cursor:pointer;
}

ul.autocomplete li.selected {
  background-color: Highlight ; 
  color: #fff;
}