.zbc-blue1 {
border-color: #5d96be;
}

.zbc-blue2 {
  border-color:#dfeeef;
}

.zbc-blue3 {
  border-color: #87b9dd;
}

.zbc-blue4 {
  border-color: #0000ee;
}

.zbc-blue5 {
  border-color: #ceebeb;
}

.zbc-blue6 {
  border-color: #68818d;
}

.zbc-blue7 {
  border-color: #3F4C6B;
}

.zbc-blue8 {
  border-color: #356AA0;
}

.zbc-blue9 {
  border-color: #C6EDF2;
}

.zbc-blue10 {
 border-color: #F1FDFF;
}

.zbc-green1 {
  border-color:#88bf00;
}

.zbc-green2 {
  border-color:#689500;
}

.zbc-green3 {
  border-color: #ccff00;
}

.zbc-green4 {
  border-color: #81bc26;
}

.zbc-green5 {
  border-color: #d6ddbc;
}

.zbc-green6 {
  border-color: #eeffbb;
}

.zbc-green7 {
  border-color: #CDEB8B;
}

.zbc-green8 {
 border-color: #E2E2D2;
}

.zbc-green9 {
 border-color: #E0DFBC;
}

.zbc-orange1 {
  border-color: #ff9000;
}

.zbc-orange2 {
  border-color: #e06f00;
}

.zbc-orange3 {
  border-color: #e68217;
}

.zbc-orange4 {
 border-color: #FFB700;
}

.zbc-orange5 {
 border-color: #F6D2AF;
}

.zbc-red1 {
  border-color: #d84d2c;
}

.zbc-red2 {
  border-color: #c6241c;
}

.zbc-red3 {
  border-color: #b45346;
}

.zbc-red4 {
  border-color: #d66256;
}

.zbc-red5 {
 border-color: #AF4747;
}

.zbc-pink1 {
  border-color: #FF0084;
}

.zbc-pink2 {
  border-color: #edb9b4;
}

.zbc-gray1 {
  border-color: #e3e3e3;
}

.zbc-gray2 {
  border-color: #ccc;
}

.zbc-gray3 {
 border-color: #9f9f9f;
}

.zbc-gray4 {
  border-color: #666;
}

.zbc-black1 {
  border-color: #343434;
}

.zbc-black2 {
  border-color: #454545;
}

.zbc-cream1 {
  border-color: #f2f2c8;
}

.zbc-cream2 {
  border-color: #fdfdad;
}

.zbc-cream3 {
 border-color: #FFF0D1;
}

.zbc-yellow1 {
  border-color: #FFFF88;
}

.zbc-yellow2 {
 border-color: #FDEA67;
}

.zbc-yellow3 {
 border-color: #FEF7C2;
}

.zbc-gold1 {
 border-color: #C79810;
}

.zbc-white {
 border-color: #FFFFFF;
}

