.zbg-blue1 {
background-color: #5d96be;
}

.zbg-blue2 {
  background-color:#dfeeef;
}

.zbg-blue3 {
  background-color: #87b9dd;
}

.zbg-blue4 {
  background-color: #0000ee;
}

.zbg-blue5 {
  background-color: #ceebeb;
}

.zbg-blue6 {
  background-color: #68818d;
}

.zbg-blue7 {
  background-color: #3F4C6B;
}

.zbg-blue8 {
  background-color: #356AA0;
}

.zbg-blue9 {
  background-color: #C6EDF2;
}

.zbg-blue10 {
 background-color: #F1FDFF;
}

.zbg-green1 {
  background-color:#88bf00;
}

.zbg-green2 {
  background-color:#689500;
}

.zbg-green3 {
  background-color: #ccff00;
}

.zbg-green4 {
  background-color: #81bc26;
}

.zbg-green5 {
  background-color: #d6ddbc;
}

.zbg-green6 {
  background-color: #eeffbb;
}

.zbg-green7 {
  background-color: #CDEB8B;
}

.zbg-green8 {
 background-color: #E2E2D2;
}

.zbg-green9 {
 background-color: #E0DFBC;
}

.zbg-orange1 {
  background-color: #ff9000;
}

.zbg-orange2 {
  background-color: #e06f00;
}

.zbg-orange3 {
  background-color: #e68217;
}

.zbg-orange4 {
 background-color: #FFB700;
}

.zbg-orange5 {
 background-color: #F6D2AF;
}

.zbg-red1 {
  background-color: #d84d2c;
}

.zbg-red2 {
  background-color: #c6241c;
}

.zbg-red3 {
  background-color: #b45346;
}

.zbg-red4 {
  background-color: #d66256;
}

.zbg-red5 {
 background-color: #AF4747;
}

.zbg-pink1 {
  background-color: #FF0084;
}

.zbg-pink2 {
  background-color: #edb9b4;
}

.zbg-gray1 {
  background-color: #e3e3e3;
}

.zbg-gray2 {
  background-color: #ccc;
}

.zbg-gray3 {
 background-color: #9f9f9f;
}

.zbg-gray4 {
  background-color: #666;
}

.zbg-black1 {
  background-color: #343434;
}

.zbg-black2 {
  background-color: #454545;
}

.zbg-cream1 {
  background-color: #f2f2c8;
}

.zbg-cream2 {
  background-color: #fdfdad;
}

.zbg-cream3 {
 background-color: #FFF0D1;
}

.zbg-yellow1 {
  background-color: #FFFF88;
}

.zbg-yellow2 {
 background-color: #FDEA67;
}

.zbg-yellow3 {
 background-color: #FEF7C2;
}

.zbg-gold1 {
 background-color: #C79810;
}

.zbg-white {
 background-color: #FFFFFF;
}