.zc-blue1 {
color: #5d96be;
}

.zc-blue2 {
  color:#dfeeef;
}

.zc-blue3 {
  color: #87b9dd;
}

.zc-blue4 {
  color: #0000ee;
}

.zc-blue5 {
  color: #ceebeb;
}

.zc-blue6 {
  color: #68818d;
}

.zc-blue7 {
  color: #3F4C6B;
}

.zc-blue8 {
  color: #356AA0;
}

.zc-blue9 {
  color: #C6EDF2;
}

.zc-blue10 {
 color: #F1FDFF;
}

.zc-green1 {
  color:#88bf00;
}

.zc-green2 {
  color:#689500;
}

.zc-green3 {
  color: #ccff00;
}

.zc-green4 {
  color: #81bc26;
}

.zc-green5 {
  color: #d6ddbc;
}

.zc-green6 {
  color: #eeffbb;
}

.zc-green7 {
  color: #CDEB8B;
}

.zc-green8 {
 color: #E2E2D2;
}

.zc-green9 {
 color: #E0DFBC;
}

.zc-orange1 {
  color: #ff9000;
}

.zc-orange2 {
  color: #e06f00;
}

.zc-orange3 {
  color: #e68217;
}

.zc-orange4 {
 color: #FFB700;
}

.zc-orange5 {
 color: #F6D2AF;
}

.zc-red1 {
  color: #d84d2c;
}

.zc-red2 {
  color: #c6241c;
}

.zc-red3 {
  color: #b45346;
}

.zc-red4 {
  color: #d66256;
}

.zc-red5 {
 color: #AF4747;
}

.zc-pink1 {
  color: #FF0084;
}

.zc-pink2 {
  color: #edb9b4;
}

.zc-gray1 {
  color: #e3e3e3;
}

.zc-gray2 {
  color: #ccc;
}

.zc-gray3 {
 color: #9f9f9f;
}

.zc-gray4 {
  color: #666;
}

.zc-black1 {
  color: #343434;
}

.zc-black2 {
  color: #454545;
}

.zc-cream1 {
  color: #f2f2c8;
}

.zc-cream2 {
  color: #fdfdad;
}

.zc-cream3 {
 color: #FFF0D1;
}

.zc-yellow1 {
  color: #FFFF88;
}

.zc-yellow2 {
 color: #FDEA67;
}

.zc-yellow3 {
 color: #FEF7C2;
}

.zc-gold1 {
 color: #C79810;
}

.zc-white {
 color: #FFFFFF;
}